{% extends 'base.html'  %}

{% load staticfiles %}
{% load static %}

{% block head %}
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="wrapper-schedule-list">
        <h1>Jadwal Kegiatan</h1>
        {% for Acara in list_acara %}
        <div class="wrapper-schedule">
            <h1>{{Acara.kegiatan}}</h1>
            <div>
                <span>{{Acara.waktu}}</span>
                <span>{{Acara.tempat}}</span>
            </div>
            <div>
                <span>{{Acara.kategori}}</span><br>
            </div>
        </div>
        {% endfor %}
       <a href="/zenmetsu/" class="button is-primary"><strong>Delete All</strong></a>
    </div>
</div>

{% endblock %}
