{% load staticfiles %}
{% load static %}

<!doctype html>
<html>
  <head>
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Satrio's Website</title>
	<script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
	</head>
<body>
	<style>
body {
    background-color: #E6EBE0
}
</style>

<section class="hero">
	<div class="hero-body">
	<div class="container">
		<img src="{% static "images/gambarcover.png" %}" alt="cover" style="width:1235px;height:315px;left:117px;"top: 32px;>
		<nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li>
            <a href="/homepage/" class="button is-primary"><strong>Home</strong></a>
          </li>
          <li>
            <a href="/resumePage/" class="button is-primary"><strong>Resume</strong></a>
          </li>
          <li>
            <a href="/agenda/" class="button is-primary"><strong>Plans</strong></a>
          </li>
          <li>
            <a href="/agendaForm/" class="button is-primary"><strong>P.Maker</strong></a>
          </li>
		  <li>
            <a href="/guestPage/" class="button is-primary"><strong>Guest</strong></a>
          </li>
        </ul>
      </div>
    </nav>
	{% block head %}
    {% endblock %}
	{% block body%}
    {% endblock %}
	</div>
	</body>
</html>
